
@{
    ViewBag.Title = "Admin2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Your Paytm Merchant registration Status.</h3>
<p>You are registered as Merchant with the Paytm. Below are details.</p>
<p>
    <ul>
        <li>Merchant Id: XXXXXXXXXXXXX</li>
        <li>Merchant Key: XXXXXXXXXXXX</li>
        <li>Channel Id: XXXXXXXXXXX</li>
        <li>Request Type: Retail</li>
    </ul>
</p>


