
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Your Paytm Merchant registration Status.</h3>
<p>You are not registered as Merchant with the Paytm. Kindly follow below steps to avail Paytm payment services</p>
<p>
    <ul>
        <li>Browse URL: </li>
        <li>Enter the required business details to fill the form.</li>
    </ul>
</p>